/* You can add global styles to this file, and also import other style files */
html{
    font-family: open-sans;
    font-size: 100%;
}

h3{
    font-size: 1.5rem;
    color: #ccc;
}

@media (max-size:212px){
    html{
        font-size: 80%;
    }
}